body {
  margin:0;
  min-width:975px;
  width: 95%;
 }
 
#topnav{
    width:100%;
    min-height:20px;
    height: 5%;
    
}

#mainblock{
    width:1050px;
    margin:0 auto 0 auto;
}


#brand, #header li#brand {
text-transform: uppercase;

/*border-right: solid;
border-color: rgb(150,150,150);
border-right-width: 1px; */
padding-right: 20px;

}

#brand h1{
    width:100%;
    text-align:left;
    line-height:.5em;
    margin:0;
    font-size:2.5em;
    font-weight:300;
}
#header, #header ul, #header li, #brand h1, #statement, #intro_blurb {
    font-family: 'helvetica', 'arial', sans-serif;
    color: rgb(101,101,101);
    font-weight: 300;

    line-height:1.5em;
}

#header ul{
    list-style:none;

    border-bottom-style: solid;
border-width: 1px;
border-color: rgb(101,101,101);
padding-left:0;
height:2em;
margin:0;
}

#header li{
    display:inline;

    float:left;
    text-align:left
    ;
}

#section{

margin-bottom: 0px;

margin-right: 10%;
font-size: 1.25em;
}

    
#section #selected a, #header li a:hover, #right a:hover{
    color:rgb(0 , 180, 180);
    
}
    
    
#header li a, #header li a:visited, #header li a:active, #right a {
    text-decoration:none;
     color: rgb(255, 153, 0);
}

#brand a, #brand a:visited{
    color:rgb(101,101,101);
    text-decoration:none;
}

#statement{
    float:left;
padding-top: 10px;
padding-bottom: 10px;
width: 95%;
margin:20px 40px 0 40px;
    }
    
#statement p{
width: 600px;
float: left;
margin: 10px 40px 0 40px;
}
    
#banner{
    width:300px;
    float:left;

}

#content{
    width:100%;
    margin: 0;
}

#intro_blurb{
    clear:left;
    
    padding-top: 20px;
background: rgb(240, 240, 240);
width: 100%;
padding-left: 30px;
padding-bottom:40px;
}

#left{
float:left;
clear:left;
width: 75px;
text-align:right;
}

#right{
float:left;
margin-left:50px;

}

#left, #right{
    background:rgb(240,240,240);
}



#footer{
    margin:0 auto 0 auto;
    text-align:center;
}

#label{
    width:33%;
    text-align:right;
}

#activities{
  width:65%;
 }
 
#activities ul{
  margin-top:0;
  list-style:none;
 
 }
 
 #activities, #label{
  font-weight:100;
  font-size:.9em;
  }
  
