body {
margin:auto;
min-width:975px;
width: 95%;
}
 
#topnav{
width:100%;
min-height:60px;
height: 5%;
    
}

#mainblock{
width:100%;
margin:0 auto 0 auto;
}


#brand, #header li#brand {
text-transform: uppercase;
/*border-right: solid;
border-color: rgb(150,150,150);
border-right-width: 1px; */
font-weight:bold;

}

#brand h1{
    width:100%;
    line-height:.5em;
    margin:0;
    font-size:2.5em;
    font-weight:300;
}
#header, #header ul, #header li, #brand h1, #statement, #intro_blurb , 
#archive, #post, #tags{
    font-family: 'helvetica', 'arial', sans-serif;
    color: rgb(101,101,101);
    font-weight: 300;

    line-height:1.5em;
}

#header ul{
    list-style:none;

padding-left:0;
margin:0;
margin-top:20px;
margin-right:13.83%;
}

#header li{

    text-align:right;
}

#content h1{
font-family: 'helvetica', 'arial', sans-serif;
color: rgb(101,101,101);
font-weight: bold;
font-size: 1.5em;
text-transform:lowercase;
font-style:bold;
}


#section{

margin-bottom: 0px;

font-size: 1.25em;
}

    
#section #selected a, #header li a:hover, #right a:hover, #intro a:hover{
    color:#348EC0;
    
}
    
    
#header li a,  #header li a:active, #right a, #intro_blurb a {
text-decoration:none;
color: #E1523D;
font-weight:bold;
}

#brand a, #brand a:visited{
color:rgb(101,101,101);
text-decoration:none;
}

#statement, #archive{
float:left;
padding-top: 10px;
padding-bottom: 30px;
margin:20px 0px 0 0px;
padding-right:40px;
    }
    
#statement p{
float: left;
margin: 10px 40px 0 40px;
}

#statement  a, #post a, #tags a{
text-decoration: none;
/*border-bottom:1px dotted #505050;*/
color:#E1523D;
}	

#statement  a:hover, #post a:hover, #tags a:hover{
border-bottom:1px solid #348EC0;
color: #348EC0;
}

#banner{
width:300px;
float:left;

}

#content{
width:50%;
margin: 0;
float:left;
clear:right;
font-size:13px;
}

#intro_blurb{
clear:left;
padding-top: 20px;
background: rgb(240, 240, 240);
width: 95%%;
padding-left: 30px;
padding-bottom:20px;
margin-bottom:20px;
}

#left{
float:left;
clear:left;
width: 75px;
text-align:right;
}

#right{
float:left;
margin-left:20px;
width:75%;

}

#left, #right{
    background:rgb(240,240,240);
}



#footer{
    margin:0 auto 0 auto;
    text-align:center;
    padding-top:20px;
    border-top: 1px solid rgb(240,240,240);
}

#label{
    text-transform:uppercase;
    width:100%;
}

#activities{
 }
 
#activities ul{
  margin-top:0;
  list-style:none;
  padding-left:10px;
 
 }
 
#activities ol{
	margin-top:0;
}
 
#activities, #label{
  font-weight:100;
  font-size:.9em;
  float:left;
}

#activities #author{
	font-weight: 500;
}

#activities #title{
	font-style:italic;
}

#note{
  font-size: .85em;
color: #787878;
text-transform: lowercase;
  } 

#archive{
font-size:1em;
}

#archive ul, #archive li{
list-style-type:none;
line-height:1.2em;
margin:0px;
padding-left: 0px;
}

#archive li a, #archive li a:visited{
text-decoration:none;
/*font-size:1.25em;*/
color: #656565;
font-weight:400;

}

#archive li a:hover{
border-bottom: 1px solid;

}

#archive #date{
text-transform:lowercase;
font-size:.8em;
}

#archive h3{
font-size:1em;
margin-bottom:0px;
}

#post {
max-width:600px;
line-height:1.3em;
}


h6 {
margin-top:0;
margin-bottom:0;
}

#post blockquote {
background: rgb(240, 240, 240);
padding-left:5px;
padding-right:5px;
border-left: 10px solid #348EC0;

}


#header{
 width:30%;
 float:left;
 min-height:500px;
 }
 
 #brand{
 text-align: center;
border-bottom-width:1px;
border-bottom-style:solid;
padding-top:10px;
min-height:60px;
}

#tags{
text-align:left;
color: rgb(180,180,180);
font-size:.75em;
}