<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="http://mariev.net/studiousmarie/media/css/portfolio.css" type="text/css" media="screen">
   <link rel="stylesheet" href="http://mariev.net/studiousmarie/media/css/syntax.css" type="text/css" media="screen">

   <title>{{page.title}}</title>
</head>
<body>
   <div id = "topnav">
           <div id ="brand"><h1></h1></div>
   
    </div>
    <div id = "mainblock">
        <div id = "header">
            <ul>
                <li id = "section">	<a href = "http://mariev.net/studiousmarie">about</a></li>
				<li id = "section"><a href = "http://mariev.net/studiousmarie/p/cv.html">CV</a>
				<li id = "section"><a href = "http://mariev.net/studiousmarie/p/port.html">portfolio</a></li>
				<li id = "section"><a href = "http://mariev.net/studiousmarie/p/pubs.html">publications</a></li>
				<li id = "section"><div id = "selected"><a href = "http://mariev.net/studiousmarie/p/blog.html">blog</a></div></li>
                 
            </ul>
            
			

        </div>
        <div id = "content">
        <h1>{{page.title}}</h1>
			<div id = "post">

            {{content}}
            </div>
       
        
    </div>
    <br>

    
<div id = "footer" style = "clear:left">
<div id = "tags">
        Posted in:
        {% for taggy in page.tags %}
            {{taggy}},
          {% endfor %} <br>
        Next: <a href = "http://mariev.net/studiousmarie{{page.next.url}}">{{page.next.title}}</a>
        </div>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
</div>
<br>
</body>
</html>