<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
   	<link rel="stylesheet" href="https://mariev.github.io/studiousmarie/media/css/style.css" 
   		type="text/css" media="screen">
	<link rel="alternate" title="RSS Feed for studiousmarie" 
  		href=""  type="application/rss+xml" />
   <title>{{page.title}}</title>
   
</head>
<body>
    <div id = "topnav">
 <div id ="brand">
            <a href = "https://mariev.github.io/studiousmarie/"><h1>Marie Vendettuoli</h1></a></div>
             <ul>
               
               <li id = "section">
                {% if {{page.section}} == "about" %}
                    <div id = "selected">
                {% endif %}
                    <a href = "http://mariev.github.io/studiousmarie">about</a>
                {% if {{page.section}} == "about" %}
                    </div>
                {% endif %}   
                    </li>
                <li id = "section">
                {% if {{page.section}} == "cv" %}
                    <div id = "selected">
                {% endif %}
                <a href = "https://drive.google.com/file/d/1MotdSKi6KnXNUDwkvB0qDsIN9eDTBgie/view?usp=sharing" target = "_blank">vita</a>
                {% if {{page.section}} == "cv" %}
                    </div>
                 {% endif %}
                    </li>
                <li id = "section">
                {% if {{page.section}} == "port" %}
                    <div id = "selected">
                {% endif %}
                <a href = ""></a>
                {% if {{page.section}} == "port" %}
                    </div>
                {% endif %}
                </li>
                <li id = "section">
                {% if {{page.section}} == "blog" %}
                    <div id = "selected">
                {% endif %}
                <a href = ""></a>
                {% if {{page.section}} == "blog" %}
                    </div>
                {% endif %}
                </li>
              </ul>  
              
           
              
            </div>
            <div id = "mainblock">
      <div id = "header">
            
            
        </div>
        <div id = "content">
            {{content}}
        </div>
    </div>
    <br>

    
<div id = "footer" style = "clear:left">
<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
	<img alt="Creative Commons License" style="border-width:0" 
		src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
</div>
<br>
</body>
</html>
