<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="media/css/portfolio.css" type="text/css" media="screen">
</head>
<body>
    <div id = "topnav">
    </div>
    
    <div id = "mainblock">
        <div id = "header">
            <ul>
                <li id ="brand"><h1>Marie</h1><h1>Vendettuoli</h1></li>
                <li id = "section">about</li>
                <li id = "section">CV</li>
                <li id = "section">portfolio</li>
                <li id = "section">publications</li>
            </ul>
        </div>
        <div id = "content">
        </div>
    </div>
    
    <div id = "footer">
    </div>
</body>
</html>
